<a href="https://colab.research.google.com/github/SahilJin123/Machine-Learning/blob/main/Decision_Tree_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!wget 'https://raw.githubusercontent.com/codebasics/py/master/ML/9_decision_tree/salaries.csv'

In [ ]:
import pandas as pd
df = pd.read_csv('/content/salaries.csv')
df.head()

In [ ]:
inputs = df.drop('salary_more_then_100k',axis = 'columns')

In [ ]:
target = df['salary_more_then_100k']

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
le_comapany = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [ ]:
inputs['company_n'] = le_comapany.fit_transform(inputs['company'])
inputs['job_n'] = le_comapany.fit_transform(inputs['job'])
inputs['degree_n'] = le_comapany.fit_transform(inputs['degree'])

inputs.head()

  company                  job     degree  company_n  job_n  degree_n
0  google      sales executive  bachelors          2      2         0
1  google      sales executive    masters          2      2         1
2  google     business manager  bachelors          2      0         0
3  google     business manager    masters          2      0         1
4  google  computer programmer  bachelors          2      1         0

In [ ]:
inputs_n = inputs.drop(['company','job','degree'],axis = 'columns')
inputs_n

    company_n  job_n  degree_n
0           2      2         0
1           2      2         1
2           2      0         0
3           2      0         1
4           2      1         0
5           2      1         1
6           0      2         1
7           0      1         0
8           0      0         0
9           0      0         1
10          1      2         0
11          1      2         1
12          1      0         0
13          1      0         1
14          1      1         0
15          1      1         1

In [ ]:
from sklearn import tree

model = tree.DecisionTreeClassifier()

In [ ]:
model.fit(inputs_n,target)

DecisionTreeClassifier()

In [ ]:
model.score(inputs_n,target)

1.0

In [ ]:
model.predict([[2,0,1]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

array([1])

# **Exercise**

In [2]:
!wget 'https://raw.githubusercontent.com/codebasics/py/master/ML/9_decision_tree/Exercise/titanic.csv'

--2022-07-24 17:30:47--  https://raw.githubusercontent.com/codebasics/py/master/ML/9_decision_tree/Exercise/titanic.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 60302 (59K) [text/plain]
Saving to: ‘titanic.csv’

titanic.csv         100%[===================>]  58.89K  --.-KB/s    in 0.004s

2022-07-24 17:30:47 (14.9 MB/s) - ‘titanic.csv’ saved [60302/60302]

In [42]:
df = pd.read_csv('/content/titanic.csv')

In [43]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [44]:
df = df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns')

In [45]:
dummy = pd.get_dummies(df.Sex)
dummy

     female  male
0         0     1
1         1     0
2         1     0
3         1     0
4         0     1
..      ...   ...
886       0     1
887       1     0
888       1     0
889       0     1
890       0     1

[891 rows x 2 columns]

In [46]:
df = pd.concat([df,dummy],axis = 'columns')

In [47]:
df = df.drop(['Sex','female'],axis = 'columns')

In [48]:
import math 
median_Age = math.floor(df.Age.median())
median_Age

28

In [49]:
df.Age = df.Age.fillna(median_Age)

# **Yaha Range me lane se accuracy kam ho rahi hai yo Hum us e range main nahi layenge**

In [26]:
maxi =max(df.Fare)
maxi

512.3292

In [27]:
df.Fare = df.Fare/maxi

In [34]:
df.Age = df.Age/max(df.Age)

**iske neeche se run karna hai**

In [50]:
df

     Survived  Pclass   Age     Fare  male
0           0       3  22.0   7.2500     1
1           1       1  38.0  71.2833     0
2           1       3  26.0   7.9250     0
3           1       1  35.0  53.1000     0
4           0       3  35.0   8.0500     1
..        ...     ...   ...      ...   ...
886         0       2  27.0  13.0000     1
887         1       1  19.0  30.0000     0
888         0       3  28.0  23.4500     0
889         1       1  26.0  30.0000     1
890         0       3  32.0   7.7500     1

[891 rows x 5 columns]

In [51]:
from sklearn.model_selection import train_test_split 
x_train,x_test,y_train,y_test = train_test_split(df[['Pclass','Age','Fare','male']],df.Survived,test_size = 0.1,random_state =5)

In [52]:
print(x_train)
print(y_train)

     Pclass   Age      Fare  male
817       2  31.0   37.0042     1
725       3  20.0    8.6625     1
669       1  28.0   52.0000     0
611       3  28.0    7.0500     1
309       1  30.0   56.9292     0
..      ...   ...       ...   ...
400       3  39.0    7.9250     1
118       1  24.0  247.5208     1
701       1  35.0   26.2875     1
206       3  32.0   15.8500     1
867       1  31.0   50.4958     1

[801 rows x 4 columns]
817    0
725    0
669    1
611    0
309    1
      ..
400    1
118    0
701    1
206    0
867    0
Name: Survived, Length: 801, dtype: int64

In [53]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [54]:
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [55]:
model.score(x_test,y_test)

0.7555555555555555